@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Trade Winds', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-image: url('https://res.cloudinary.com/drnaycy06/image/upload/v1733777101/cZgO6MEsOmetfOKGWiV6--1--l661b_wz5h3q.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: rgba(20, 13, 4, 0.9);
  margin: auto;
  overflow: hidden;
}

.back {
  width: 100%;
  text-align: left;
  padding-left: 3vw;
  padding-top: 1.5vh;
}

.back h1 {
  margin: 0;
}

.game-title {
  text-align: right;
}

.game-title > h1 {
  font-size: 48px;
  margin: 0;
}

.game-title > p {
  font-size: 12px;
  margin: -2vh 0 0 0;
}

main {
  text-align: center;
  margin: 5vh auto;
}

.btn {
  width: 80%;
  background-color: #6D6D6D;
  border-radius: 20px;
  text-align: center;
  padding: 3vh 5vw;
  margin: 0.5vh 0;
  color: white;
  font-size: 36px;
  font-weight: 700;
}

.btn.rules {
  margin-top: 10vh;
}
/* Laptop Style */
@media screen and (min-width: 768px) {
  #root {
    width: 50%;
    background-color: rgba(20, 13, 4, 0.9);
  }
}